# Setup

In [1]:
import pandas as pd
from pprint import pprint

# Feather to CSV and Dropping Columns

In [2]:
# raw_data = pd.read_csv('../data/last_five_years.csv', header=0)
# result = pyreadr.read_r('../data/merged_data.rds')
# raw_data = result[None]
raw_data = pd.read_feather('../data/merged_data.fthr')

In [3]:
raw_data.columns

Index(['acad_career', 'strm', 'class_nbr', 'stdnt_enrl_status', 'unt_taken',
       'unt_prgrss', 'grading_basis_dt', 'unt_billing', 'grading_scheme_enr',
       'crse_grade_off', 'crse_grade_input', 'earn_credit', 'oprid',
       'last_upd_dt_stmp', 'last_upd_tm_stmp', 'emplid', 'subject',
       'ssr_component', 'catalog_nbr', 'crse_acad_group', 'crse_acad_org',
       'crse_id', 'effdt', 'major1', 'major2', 'major3', 'major4', 'major5',
       'major6', 'major7', 'sex'],
      dtype='object')

In [4]:
new_courses = raw_data.loc[raw_data['acad_career'] == "UG"]

In [5]:
new_courses_mod = new_courses.drop(['ssr_component', 'crse_acad_group', 'crse_grade_off', 'last_upd_dt_stmp',
                                'last_upd_tm_stmp', 'class_nbr',
                                'grading_basis_dt', 'effdt', 'unt_prgrss',
                                'grading_scheme_enr', 'crse_id',
                                'major1', 'major2', 'major3', 'major4', 'major5', 'major6', 'major7', 'oprid'], axis=1)

In [6]:
new_courses_mod.to_csv('../data/clean_full.csv')

In [7]:
new_courses_mod

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
3,UG,1182.0,E,4.0,4.0,A-,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,LINGUIST,35,LINGUISTIC,M
4,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
...,...,...,...,...,...,...,...,...,...,...,...,...
2667926,UG,1204.0,E,2.0,2.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,AFRICAST,195,AFRICAST,F
2667927,UG,1204.0,E,1.0,1.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,UAR,42B,VPUE,F
2667928,UG,1204.0,E,1.0,1.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,UAR,56,VPUE,F
2667929,UG,1204.0,E,3.0,3.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,HUMRTS,108,ICA,F
2667930,UG,1204.0,E,3.0,3.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,SPANLANG,108SL,LANGCTR,F