# Setup

In [3]:
import pandas as pd
from pprint import pprint

# Feather to CSV and Dropping Columns

In [10]:
# raw_data = pd.read_csv('../data/last_five_years.csv', header=0)
# result = pyreadr.read_r('../data/merged_data.rds')
# raw_data = result[None]
raw_data = pd.read_feather('../data/weakly_connected_enrollments.fthr')

In [11]:
raw_data.columns

Index(['acad_career', 'strm', 'class_nbr', 'stdnt_enrl_status', 'unt_taken',
       'unt_prgrss', 'grading_basis_dt', 'unt_billing', 'grading_scheme_enr',
       'crse_grade_off', 'crse_grade_input', 'earn_credit', 'oprid',
       'last_upd_dt_stmp', 'last_upd_tm_stmp', 'emplid', 'subject',
       'ssr_component', 'catalog_nbr', 'crse_acad_group', 'crse_acad_org',
       'crse_id', 'effdt', 'major1', 'major2', 'major3', 'major4', 'major5',
       'major6', 'major7', 'sex', 'course_name', 'gpa', 'grade_points',
       'total_units', 'cum_grade_points', 'cum_units', 'overall_gpa',
       'prior_term_gpa'],
      dtype='object')

In [12]:
new_courses = raw_data.loc[raw_data['acad_career'] == "UG"]

In [13]:
new_courses_mod = new_courses.drop(['ssr_component', 'crse_acad_group', 'crse_grade_off', 'last_upd_dt_stmp',
                                'last_upd_tm_stmp', 'class_nbr',
                                'grading_basis_dt', 'effdt', 'unt_prgrss',
                                'grading_scheme_enr', 'crse_id',
                                'major1', 'major2', 'major3', 'major4', 'major5', 'major6', 'major7', 'oprid'], axis=1)

In [14]:
new_courses_mod.to_csv('../data/clean_full.csv')

In [15]:
new_courses_mod

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,course_name,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,MATH 51,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,CHEM 31X,NaN,72.0,18.0,72.0,18.0,4.000000,NaN
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,CHEM 31X,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
3,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,MATH 51,NaN,72.0,18.0,72.0,18.0,4.000000,NaN
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,CS 106X,4.0,65.1,17.0,137.1,35.0,3.917143,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,CHEM 31B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784354,UG,1204.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,CHEM 31B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784355,UG,1198.0,E,5.0,5.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,106B,COMPUTSCI,F,CS 106B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784356,UG,1198.0,E,3.0,3.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,193C,COMPUTSCI,F,CS 193C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784357,UG,1198.0,E,3.0,3.0,B,Y,zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3T...,MS&E,260,MGMTSCI,F,MS&E 260,3.0,18.9,6.0,18.9,6.0,3.150000,NaN

# Creating restricted_wcc dataset (only courses from WCC, no summer)

In [16]:
WCC_PATH = "../data/weakly_connected_enrollments.fthr"

In [17]:
wcc_df = pd.read_feather(WCC_PATH)
wcc_df.columns

Index(['acad_career', 'strm', 'class_nbr', 'stdnt_enrl_status', 'unt_taken',
       'unt_prgrss', 'grading_basis_dt', 'unt_billing', 'grading_scheme_enr',
       'crse_grade_off', 'crse_grade_input', 'earn_credit', 'oprid',
       'last_upd_dt_stmp', 'last_upd_tm_stmp', 'emplid', 'subject',
       'ssr_component', 'catalog_nbr', 'crse_acad_group', 'crse_acad_org',
       'crse_id', 'effdt', 'major1', 'major2', 'major3', 'major4', 'major5',
       'major6', 'major7', 'sex', 'course_name', 'gpa', 'grade_points',
       'total_units', 'cum_grade_points', 'cum_units', 'overall_gpa',
       'prior_term_gpa'],
      dtype='object')

In [18]:
wcc_df

,acad_career,strm,class_nbr,stdnt_enrl_status,unt_taken,unt_prgrss,grading_basis_dt,unt_billing,grading_scheme_enr,crse_grade_off,...,major7,sex,course_name,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa
0,UG,1182.0,9732.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,M,MATH 51,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
1,UG,1182.0,16452.0,E,0.0,0.0,2017-09-21,0.0,REG,None,...,None,M,CHEM 31X,NaN,72.0,18.0,72.0,18.0,4.000000,NaN
2,UG,1182.0,16900.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,M,CHEM 31X,4.0,72.0,18.0,72.0,18.0,4.000000,NaN
3,UG,1182.0,30045.0,E,0.0,0.0,2017-09-21,0.0,REG,None,...,None,M,MATH 51,NaN,72.0,18.0,72.0,18.0,4.000000,NaN
4,UG,1184.0,3569.0,E,5.0,5.0,2017-10-29,5.0,REG,A,...,None,M,CS 106X,4.0,65.1,17.0,137.1,35.0,3.917143,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784353,UG,1204.0,9902.0,E,5.0,5.0,2019-12-16,5.0,REG,None,...,None,F,CHEM 31B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784354,UG,1204.0,13748.0,E,0.0,0.0,2019-12-16,0.0,REG,None,...,None,F,CHEM 31B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784355,UG,1198.0,14272.0,E,5.0,5.0,2019-06-22,5.0,REG,CR,...,None,F,CS 106B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784356,UG,1198.0,15168.0,E,3.0,3.0,2019-04-17,3.0,REG,CR,...,None,F,CS 193C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784357,UG,1198.0,15207.0,E,3.0,3.0,2019-07-08,3.0,REG,B,...,None,F,MS&E 260,3.0,18.9,6.0,18.9,6.0,3.150000,NaN

In [26]:
wcc_df.prior_term_gpa.isna().sum()

49839

In [19]:
wcc_df[["major1", "major2", "major3", "major4", "major5", "major6", "major7"]]

       major1   major2 major3 major4 major5 major6 major7
0        None     None   None   None   None   None   None
1        None     None   None   None   None   None   None
2        None     None   None   None   None   None   None
3        None     None   None   None   None   None   None
4        None     None   None   None   None   None   None
...       ...      ...    ...    ...    ...    ...    ...
784353   None     None   None   None   None   None   None
784354   None     None   None   None   None   None   None
784355   None     None   None   None   None   None   None
784356   None     None   None   None   None   None   None
784357  GR-SV  UGNM-SV   None   None   None   None   None

[784358 rows x 7 columns]

In [20]:
wcc_df["course_name"].value_counts()["LINGUIST 188"]

2

In [21]:
wcc_df = wcc_df.drop(['ssr_component', 'crse_acad_group', 'crse_grade_off', 'last_upd_dt_stmp',
                                'last_upd_tm_stmp', 'class_nbr',
                                'grading_basis_dt', 'effdt', 'unt_prgrss',
                                'grading_scheme_enr', 'crse_id',
                                'major1', 'major2', 'major3', 'major4', 'major5', 'major6', 'major7', 'oprid', 'course_name'], axis=1)
wcc_df["course_name"] = wcc_df["subject"] + wcc_df["catalog_nbr"]
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,NaN,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
3,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,NaN,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,CS106X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B
784354,UG,1204.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B
784355,UG,1198.0,E,5.0,5.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,106B,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS106B
784356,UG,1198.0,E,3.0,3.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,193C,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS193C
784357,UG,1198.0,E,3.0,3.0,B,Y,zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3T...,MS&E,260,MGMTSCI,F,3.0,18.9,6.0,18.9,6.0,3.150000,NaN,MS&E260

In [22]:
# filter to keep only students with at least one course in strm >= 1162
keep_students = wcc_df[wcc_df["strm"] >= 1162]["emplid"].unique()
print(len(keep_students))
print(keep_students)

wcc_df.drop(wcc_df[(wcc_df["strm"] < 1162) & (~wcc_df["emplid"].isin(keep_students))].index, inplace=True)
wcc_df

16609
['$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUfOoKEtk2jT/bFoi'
 '$2a$15$1C4M.Pu4Ek9NC7lmmE77COpedsGSqsdDqUAWQTB6BfEbnX44S9Uz6'
 '$2a$15$1gWTGapWAd3dOZiS1KrHzuj5Go/IXpnXPxHP6ipcc4OLCaTcCpuw.' ...
 'ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9dVhuI9ZtJcrd0Q7l1NFSR2q/qADgS+Kg/HJHljXOg=='
 'zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6RnschrOOwvpQgLs4qx7GeYCRcca3lsVjs9gYE/lMrUg=='
 'zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3TznBQBPny8l45xGai6NpMv/vt4CGiDAGEbUVZvVbw==']

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,NaN,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
3,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,NaN,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,CS106X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B
784354,UG,1204.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B
784355,UG,1198.0,E,5.0,5.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,106B,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS106B
784356,UG,1198.0,E,3.0,3.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,193C,COMPUTSCI,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS193C
784357,UG,1198.0,E,3.0,3.0,B,Y,zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3T...,MS&E,260,MGMTSCI,F,3.0,18.9,6.0,18.9,6.0,3.150000,NaN,MS&E260

In [23]:
# drop summer courses
wcc_df.drop(wcc_df[wcc_df["strm"] % 10 == 8].index, inplace=True)
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex,gpa,grade_points,total_units,cum_grade_points,cum_units,overall_gpa,prior_term_gpa,course_name
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,NaN,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M,4.0,72.0,18.0,72.0,18.0,4.000000,NaN,CHEM31X
3,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M,NaN,72.0,18.0,72.0,18.0,4.000000,NaN,MATH51
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M,4.0,65.1,17.0,137.1,35.0,3.917143,4.0,CS106X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784350,UG,1202.0,E,5.0,5.0,B,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31A,CHEMISTRY,F,3.0,39.0,11.0,39.0,11.0,3.545455,NaN,CHEM31A
784351,UG,1202.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31A,CHEMISTRY,F,NaN,39.0,11.0,39.0,11.0,3.545455,NaN,CHEM31A
784352,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,PSYCH,1,PSYCHOLOGY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PSYCH1
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B
784354,UG,1204.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHEM31B

In [24]:
pd.set_option('display.max_rows', None)
wcc_df["strm"].value_counts(sort = False)

1024.0        9
1026.0        9
1032.0        7
1034.0       10
1036.0        2
1042.0        7
1044.0       14
1046.0        4
1052.0        6
1054.0       10
1056.0        5
1062.0       24
1064.0       17
1066.0       19
1072.0       36
1074.0       21
1076.0       12
1082.0       27
1084.0       23
1086.0       22
1092.0       76
1094.0       53
1096.0       58
1102.0      134
1104.0      126
1106.0       98
1112.0      323
1114.0      315
1116.0      322
1122.0     1042
1124.0     1152
1126.0      956
1132.0     4597
1134.0     6062
1136.0     5107
1142.0     9866
1144.0    11420
1146.0     9118
1152.0    14215
1154.0    15475
1156.0    13058
1162.0    18194
1164.0    18862
1166.0    14206
1172.0    17337
1174.0    16782
1176.0    13811
1182.0    17117
1184.0    16839
1186.0    12724
1192.0    17129
1194.0    16458
1196.0    13011
1202.0    15189
1204.0    16090
1002.0        2
1004.0        1
1006.0        1
1012.0        7
1014.0        6
1016.0        5
1022.0        8
Name: strm, dtype: int64

In [25]:
import pickle
WCC_PD_PATH = "../data/wcc_pd.pkl"

with open(WCC_PD_PATH, "wb") as file:
    pickle.dump(wcc_df, file)