#Setup

In [19]:
import pandas as pd

Using Google Drive to store files

# Feather to CSV and Dropping Columns

In [20]:
# raw_data = pd.read_csv('../data/last_five_years.csv', header=0)
# result = pyreadr.read_r('../data/merged_data.rds')
# raw_data = result[None]
raw_data = pd.read_feather('../data/merged_data.fthr')

In [21]:
raw_data.columns

Index(['acad_career', 'strm', 'class_nbr', 'stdnt_enrl_status', 'unt_taken',
       'unt_prgrss', 'grading_basis_dt', 'unt_billing', 'grading_scheme_enr',
       'crse_grade_off', 'crse_grade_input', 'earn_credit', 'oprid',
       'last_upd_dt_stmp', 'last_upd_tm_stmp', 'emplid', 'subject',
       'ssr_component', 'catalog_nbr', 'crse_acad_group', 'crse_acad_org',
       'crse_id', 'effdt', 'major1', 'major2', 'major3', 'major4', 'major5',
       'major6', 'major7', 'sex'],
      dtype='object')

In [22]:
new_courses = raw_data.loc[raw_data['acad_career'] == "UG"]

In [23]:
new_courses_mod = new_courses.drop(['ssr_component', 'crse_acad_group', 'crse_grade_off', 'last_upd_dt_stmp',
                                'last_upd_tm_stmp', 'class_nbr',
                                'grading_basis_dt', 'effdt', 'unt_prgrss',
                                'grading_scheme_enr', 'crse_id',
                                'major1', 'major2', 'major3', 'major4', 'major5', 'major6', 'major7', 'oprid'], axis=1)

In [24]:
new_courses_mod.to_csv('../data/clean_full.csv')

In [25]:
new_courses_mod

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
3,UG,1182.0,E,4.0,4.0,A-,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,LINGUIST,35,LINGUISTIC,M
4,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
...,...,...,...,...,...,...,...,...,...,...,...,...
2667926,UG,1204.0,E,2.0,2.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,AFRICAST,195,AFRICAST,F
2667927,UG,1204.0,E,1.0,1.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,UAR,42B,VPUE,F
2667928,UG,1204.0,E,1.0,1.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,UAR,56,VPUE,F
2667929,UG,1204.0,E,3.0,3.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,HUMRTS,108,ICA,F
2667930,UG,1204.0,E,3.0,3.0,None,Y,ZZY9cXv8E+kma1UpxorU3h6lmrEAShLb3z/uaqmJdU+YHG...,SPANLANG,108SL,LANGCTR,F

# Creating restricted_wcc dataset (only courses from WCC, last five years, no summer)

In [26]:
WCC_PATH = "../data/weakly_connected_enrollments.fthr"

In [27]:
wcc_df = pd.read_feather(WCC_PATH)
wcc_df.columns

Index(['acad_career', 'strm', 'class_nbr', 'stdnt_enrl_status', 'unt_taken',
       'unt_prgrss', 'grading_basis_dt', 'unt_billing', 'grading_scheme_enr',
       'crse_grade_off', 'crse_grade_input', 'earn_credit', 'oprid',
       'last_upd_dt_stmp', 'last_upd_tm_stmp', 'emplid', 'subject',
       'ssr_component', 'catalog_nbr', 'crse_acad_group', 'crse_acad_org',
       'crse_id', 'effdt', 'major1', 'major2', 'major3', 'major4', 'major5',
       'major6', 'major7', 'sex', 'course_name'],
      dtype='object')

In [28]:
wcc_df

,acad_career,strm,class_nbr,stdnt_enrl_status,unt_taken,unt_prgrss,grading_basis_dt,unt_billing,grading_scheme_enr,crse_grade_off,...,effdt,major1,major2,major3,major4,major5,major6,major7,sex,course_name
0,UG,1182.0,9732.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,None,None,None,None,None,None,None,M,MATH 51
1,UG,1182.0,16452.0,E,0.0,0.0,2017-09-21,0.0,REG,None,...,None,None,None,None,None,None,None,None,M,CHEM 31X
2,UG,1182.0,16900.0,E,5.0,5.0,2017-09-21,5.0,REG,A,...,None,None,None,None,None,None,None,None,M,CHEM 31X
3,UG,1182.0,30045.0,E,0.0,0.0,2017-09-21,0.0,REG,None,...,None,None,None,None,None,None,None,None,M,MATH 51
4,UG,1184.0,3569.0,E,5.0,5.0,2017-10-29,5.0,REG,A,...,None,None,None,None,None,None,None,None,M,CS 106X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784353,UG,1204.0,9902.0,E,5.0,5.0,2019-12-16,5.0,REG,None,...,None,None,None,None,None,None,None,None,F,CHEM 31B
784354,UG,1204.0,13748.0,E,0.0,0.0,2019-12-16,0.0,REG,None,...,None,None,None,None,None,None,None,None,F,CHEM 31B
784355,UG,1198.0,14272.0,E,5.0,5.0,2019-06-22,5.0,REG,CR,...,None,None,None,None,None,None,None,None,F,CS 106B
784356,UG,1198.0,15168.0,E,3.0,3.0,2019-04-17,3.0,REG,CR,...,None,None,None,None,None,None,None,None,F,CS 193C
784357,UG,1198.0,15207.0,E,3.0,3.0,2019-07-08,3.0,REG,B,...,2019-09-01,GR-SV,UGNM-SV,None,None,None,None,None,F,MS&E 260

In [29]:
wcc_df = wcc_df.drop(['ssr_component', 'crse_acad_group', 'crse_grade_off', 'last_upd_dt_stmp',
                                'last_upd_tm_stmp', 'class_nbr',
                                'grading_basis_dt', 'effdt', 'unt_prgrss',
                                'grading_scheme_enr', 'crse_id',
                                'major1', 'major2', 'major3', 'major4', 'major5', 'major6', 'major7', 'oprid', 'course_name'], axis=1)
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
3,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M
...,...,...,...,...,...,...,...,...,...,...,...,...
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F
784354,UG,1204.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F
784355,UG,1198.0,E,5.0,5.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,106B,COMPUTSCI,F
784356,UG,1198.0,E,3.0,3.0,CR,Y,zZgwnDw/kpKaadDrNx+m5lfi/f9HuYY8je8OU1TEos6Rns...,CS,193C,COMPUTSCI,F
784357,UG,1198.0,E,3.0,3.0,B,Y,zZVVSolbi6W27c6FJmO58RNZyUtfvQqepTFXPdcGnr8F3T...,MS&E,260,MGMTSCI,F

In [30]:
wcc_df.drop(wcc_df[wcc_df["strm"] < 1162].index, inplace=True)
wcc_df.drop(wcc_df[wcc_df["strm"] % 10 == 8].index, inplace=True)
wcc_df

,acad_career,strm,stdnt_enrl_status,unt_taken,unt_billing,crse_grade_input,earn_credit,emplid,subject,catalog_nbr,crse_acad_org,sex
0,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
1,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
2,UG,1182.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CHEM,31X,CHEMISTRY,M
3,UG,1182.0,E,0.0,0.0,None,N,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,MATH,51,MATH,M
4,UG,1184.0,E,5.0,5.0,A,Y,$2a$15$.iQPCHeeuyLD3TIqJRk4j.LU0IjGYumSdFkAEUf...,CS,106X,COMPUTSCI,M
...,...,...,...,...,...,...,...,...,...,...,...,...
784350,UG,1202.0,E,5.0,5.0,B,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31A,CHEMISTRY,F
784351,UG,1202.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31A,CHEMISTRY,F
784352,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,PSYCH,1,PSYCHOLOGY,F
784353,UG,1204.0,E,5.0,5.0,None,Y,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F
784354,UG,1204.0,E,0.0,0.0,None,N,ZZCaHx+CP6JrUW8AJ/N+m9uPlGbsOEaeCC8uU50l/iVr9d...,CHEM,31B,CHEMISTRY,F

In [31]:
import pickle
WCC_PD_PATH = "../data/wcc_pd.pkl"

with open(WCC_PD_PATH, "wb") as file:
    pickle.dump(wcc_df, file)